/C/.vscode/
/C/array/.vscode/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/My-Journey-with-C-and-Cpp.iml
/.idea/vcs.xml
